@import "@/styles/mixins";
@import "@/styles/variables";

.features {
  padding: 0 0 0 24px;

  @media (width <= 1160px) {
    padding: 24px;
  }

  .container {
    max-width: 1216px;
    padding: 64px 112px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 48px;

    .text {
        max-width: 624px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;

        .overline {
          @include font(600, 14px, 20px, left, unset);
    
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 1px;
          background: $branding-gradient;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .heading {
          @include font(800, 36px, 44px, left, unset);
          color: $neutral-900;
          text-wrap: wrap;
          max-width: 624px;
          letter-spacing: -0.72px;

          @media (width <= 460px) {
            font-size: 42px;
            line-height: 48px;
          }
        }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;
      align-self: stretch;

      .row {
        display: flex;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;

        @media screen and (max-width: 1160px) {
          flex-direction: column;
          gap: 24px;
            
        }
    }   
    }
 }
}

