.medium {
  font-weight: 500;
  letter-spacing: -0.02em;
}

.semibold {
  font-weight: 600;
  letter-spacing: -0.02em;
}

.bold {
  font-weight: 700;
  letter-spacing: -0.02em;
}

.extrabold {
  font-weight: 800;
  letter-spacing: -0.02em;
}

.large {
  font-size: 52px;
  line-height: 56px;
}

.small {
  font-size: 44px;
  line-height: 48px;
}
