# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.fleet
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/.env
backend/.env.exmaple
Tasks/Task 1/obj
Tasks/Task 1/bin
Tasks/Task 2/obj
Tasks/Task 2/bin
Tasks/Task 3/obj
Tasks/Task 3/bin