@import "@/styles/mixins";
@import "@/styles/variables";

.blog {
  padding: 0 0 0 24px;
  background: var(--Neutral-50, #F9FAFB);

  @media (width <= 1160px) {
    padding: 24px;
  }

    .container {
        max-width: 1216px;
        padding: 64px 112px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;

        .row {
            display: flex;
            align-items: flex-start;
            gap: 32px;
            align-self: stretch;

            @media screen and (max-width: 1160px) {
                flex-direction: column;
                gap: 24px;
                  
              }

            .card {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex: 1 0 0;
                height: 438px;
                border-radius: 12px;
                background: var(--Generic-White, #FFF);
                box-shadow: 0px 6px 15px -2px rgba(16, 24, 40, 0.08), 0px 6px 15px -2px rgba(16, 24, 40, 0.08);

                @media screen and (max-width: 1160px) {
                    height: auto;
                    border-radius: 12px;
                  }

                img {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;
                    background: url(<path-to-image>) lightgray 50% / cover no-repeat;

                    @media screen and (max-width: 1160px) {
                        width: 100%;
                        border-top-left-radius: 12px;
                        border-top-right-radius: 12px;
                      }
                }

                .content {
                    display: flex;
                    padding: 24px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 24px;
                    align-self: stretch;

                    .text {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;
                        align-self: stretch;

                        .title {
                            @include font(600, 20px, 28px, left, unset);
                            color: var(--Neutral-900, #1A202C);
                            text-wrap: wrap;
                            max-width: 100%;
                            letter-spacing: -0.4px;
                            align-self: stretch;

                            @media (width <= 460px) {
                                font-size: 42px;
                                line-height: 48px;
                              }
                        }

                        span {
                            background: var(--brand-gradient, linear-gradient(45deg, #CD66FF 24.42%, #FFB3FF 75.58%));
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                        .description {
                            @include font(400, 16px, 24px, left, unset);
                            color: var(--Neutral-700, #4B5563);
                            text-wrap: wrap;
                            max-width: 100%;
                            align-self: stretch;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 4;
                        }
                    }
                }
            }
        }
    }
}
