@import "@/styles/mixins";
@import "@/styles/variables";

.blog {
  padding: 0 0 0 24px;

  @media (width <= 1160px) {
    padding: 24px;
  }

    .container {
        max-width: 1216px;
        padding: 64px 112px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;

        .row {
            display: flex;
            align-items: flex-start;
            gap: 32px;
            align-self: stretch;

            .card {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex: 1 0 0;
                border-radius: 12px;
                background: var(--Generic-White, #FFF);
                box-shadow: 0px 6px 15px -2px rgba(16, 24, 40, 0.08), 0px 6px 15px -2px rgba(16, 24, 40, 0.08);

                img {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    border-top-left-radius: 12px;
                    border-top-right-radius: 12px;
                    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
                }

                .content {
                    display: flex;
                    padding: 24px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 24px;
                    align-self: stretch;

                    .text {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 8px;
                        align-self: stretch;

                        .title {
                            @include font(600, 20px, 28px, left, unset);
                            color: var(--Neutral-900, #1A202C);
                            text-wrap: wrap;
                            max-width: 100%;
                            letter-spacing: -0.4px;
                            align-self: stretch;
                        }

                        span {
                            background: var(--brand-gradient, linear-gradient(45deg, #CD66FF 24.42%, #FFB3FF 75.58%));
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
