@import '@/styles/variables';

.animateWrapper {
  width: 100%;
  min-height: calc(100vh - 73px);

  animation: fade .3s;
}

@keyframes fade {
  from {
    opacity: 0;
    transform-origin: top;
    transform: translateY(10px) scale(.9);
  }
  to {
    opacity: 1;
    transform-origin: top;
    transform: translateY(0) scale(1);
  }
}
