@import "variables.scss";
@import "mixins.scss";

.notFoundMainContainer {
  height: calc(100vh - 64px - 73px - 100px);
  @include flex(column, center, center);

  h1 {
    @include font(700, 112px, 100%, center);
    color: $neutral-900;
  }

  h2 {
    @include font(700, 64px, 100%, center);
    color: $neutral-900;
  }

  i {
    margin: 24px 0;
    font: 500 18px/24px $font-family;
    color: $neutral-500
  }

  p {
    margin: 0 0 24px 0;
    font: 500 16px/24px $font-family;
    color: $neutral-500
  }

  a {
    padding: 8px 16px;
    border-radius: 12px;
    border: 1px solid $neutral-200;
    font: 500 14px/20px $font-family;
    background-color: $white;
    box-shadow: $drop-shadow-small;

    transition: background-color .2s;

    &:is(:hover, :focus) {
      background-color: $neutral-100;
    }
  }

  img {
    margin: 24px 0 0 0;
    width: 100%;
    max-width: 256px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: $drop-shadow-medium;
  }
}
