$font-family: 'Outfit', sans-serif;
$branding: #CD66FF;
$branding-8: rgba(205, 102, 255, 0.08);
$branding-18: rgba(205, 102, 255, 0.18);
$branding-gradient: linear-gradient(45deg, #CD66FF 24.42%, #FFB3FF 75.58%);

$neutral-50: #FAFAFA;
$neutral-100: #F5F5F5;
$neutral-200: #E5E5E5;
$neutral-300: #D4D4D4;
$neutral-400: #A3A3A3;
$neutral-500: #737373;
$neutral-600: #525252;
$neutral-700: #404040;
$neutral-800: #262626;
$neutral-900: #181616;

$primary-50: #EEF2FF;
$primary-100: #E0E7FF;
$primary-200: #C7D2FE;
$primary-300: #A5B4FC;
$primary-400: #818CF8;
$primary-500: #6366F1;
$primary-600: #4F46E5;
$primary-700: #4337C9;
$primary-800: #372FA2;
$primary-900: #312E80;

$green-50: #F0FCF4;
$green-100: #DCFCE6;
$green-200: #BBF7D0;
$green-300: #86EFAC;
$green-400: #4ADD80;
$green-500: #22C55E;
$green-600: #17A34A;
$green-700: #16803D;
$green-800: #166533;
$green-900: #14532D;

$yellow-50: #FFFBEB;
$yellow-100: #FEF3C7;
$yellow-200: #FDE689;
$yellow-300: #FDD34C;
$yellow-400: #FBBF23;
$yellow-500: #F59E08;
$yellow-600: #D97705;
$yellow-700: #B45309;
$yellow-800: #933F0E;
$yellow-900: #79350E;

$red-50: #FEF2F2;
$red-100: #FEE2E2;
$red-200: #FECACA;
$red-300: #FCA5A5;
$red-400: #F87171;
$red-500: #EF4344;
$red-600: #DC2626;
$red-700: #BA1B1B;
$red-800: #991B1A;
$red-900: #7F1D1D;

$gray-50: #F8FAFC;
$gray-100: #F1F5F9;
$gray-200: #E2E8F0;
$gray-300: #D1D5DB;
$gray-400: #9CA3AF;
$gray-500: #6B7280;
$gray-600: #4B5563;
$gray-700: #374151;
$gray-800: #1F2937;
$gray-900: #111827;

$zinc-50: #FAFAFA;
$zinc-100: #F4F4F5;
$zinc-200: #E4E4E7;
$zinc-300: #D4D4D8;
$zinc-400: #A1A1AA;
$zinc-500: #71717A;
$zinc-600: #52525B;
$zinc-700: #3F3F46;
$zinc-800: #27272A;
$zinc-900: #18181B;

$stone-50: #FAFAF9;
$stone-100: #F5F5F4;
$stone-200: #E7E5E4;
$stone-300: #D6D3D1;
$stone-400: #A8A29E;
$stone-500: #78716C;
$stone-600: #57534E;
$stone-700: #44403C;
$stone-800: #292524;
$stone-900: #1C1917;

$teal-50: #F0FDFA;
$teal-100: #CCFBF1;
$teal-200: #99F6E4;
$teal-300: #5EEAD4;
$teal-400: #2DD4Bf;
$teal-500: #14B8A6;
$teal-600: #0D9488;
$teal-700: #0F766E;
$teal-800: #115E59;
$teal-900: #134E4A;

$elerald-50: #ECFDF5;
$elerald-100: #D1FAE5;
$elerald-200: #A7F3D0;
$elerald-300: #6EE7B7;
$elerald-400: #34D399;
$elerald-500: #10B981;
$elerald-600: #059669;
$elerald-700: #047857;
$elerald-800: #065F46;
$elerald-900: #064E3B;

$lime-50: #F7FEE7;
$lime-100: #ECFCCB;
$lime-200: #D9F99D;
$lime-300: #BEF264;
$lime-400: #A3E635;
$lime-500: #84CC16;
$lime-600: #65A30D;
$lime-700: #4D7C0F;
$lime-800: #3F6212;
$lime-900: #365314;

$cyan-50: #ECFEFF;
$cyan-100: #CFFAFE;
$cyan-200: #A5F3FC;
$cyan-300: #67E8F9;
$cyan-400: #22D3EE;
$cyan-500: #06B6D4;
$cyan-600: #0891B2;
$cyan-700: #0E7490;
$cyan-800: #155E75;
$cyan-900: #164E63;

$sky-50: #F0F9FF;
$sky-100: #E0F2FE;
$sky-200: #BAE6FD;
$sky-300: #7DD3FC;
$sky-400: #38BDF8;
$sky-500: #0EA5E9;
$sky-600: #0284C7;
$sky-700: #0369A1;
$sky-800: #075985;
$sky-900: #0C4A6E;

$violet-50: #F5F3FF;
$violet-100: #EDE9FE;
$violet-200: #DDD6FE;
$violet-300: #C4B5FD;
$violet-400: #A78BFA;
$violet-500: #8B5CF6;
$violet-600: #7C3AED;
$violet-700: #6D28D9;
$violet-800: #5C21B6;
$violet-900: #4D1D96;

$fuchsia-50: #FDF4FF;
$fuchsia-100: #FAE8FF;
$fuchsia-200: #F5D0FE;
$fuchsia-300: #F0ABFC;
$fuchsia-400: #E879F9;
$fuchsia-500: #D946EF;
$fuchsia-600: #C025D3;
$fuchsia-700: #A21DAF;
$fuchsia-800: #851A8F;
$fuchsia-900: #701A75;

$pink-50: #FDF2F8;
$pink-100: #FCE7F4;
$pink-200: #FBCFE8;
$pink-300: #F9A7D5;
$pink-400: #F472B6;
$pink-500: #EC4899;
$pink-600: #DC2677;
$pink-700: #BF185E;
$pink-800: #9D174D;
$pink-900: #831842;

$rose-50: #FFF1F2;
$rose-100: #FFE4E6;
$rose-200: #FECDD3;
$rose-300: #FDA4AF;
$rose-400: #FC7185;
$rose-500: #F43F5F;
$rose-600: #E11D48;
$rose-700: #BF123D;
$rose-800: #9F1138;
$rose-900: #881237;

$gradient-linear-1: linear-gradient(135deg, #ED765E 0%, #E3BDE5 100%);
$gradient-linear-2: linear-gradient(135deg, #EECDA3 0%, #EF629F 100%);
$gradient-linear-3: linear-gradient(135deg, #FF6E7F 0%, #BFE9FF 100%);
$gradient-linear-4: linear-gradient(135deg, #DAE2F8 0%, #D6A4A4 100%);
$gradient-linear-5: linear-gradient(135deg, #1D2B64 0%, #F8CDDA 100%);
$gradient-linear-6: linear-gradient(135deg, #E3FF72 0%, #E27C39 100%);
$gradient-linear-7: linear-gradient(135deg, #FF5F6D 0%, #FFC371 100%);
$gradient-linear-8: linear-gradient(135deg, #B60F46 0%, #D592FF 100%);
$gradient-linear-9: linear-gradient(135deg, #FC00FF 0%, #00B6DE 100%);
$gradient-linear-10: linear-gradient(135deg, #4568DC 0%, #B06AB3 100%);
$gradient-linear-11: linear-gradient(135deg, #7BC5F5 0%, #787FF6 100%);
$gradient-linear-12: linear-gradient(135deg, #16BFFD 0%, #CB3066 100%);
$gradient-linear-13: linear-gradient(135deg, #C04848 0%, #480048 100%);
$gradient-linear-14: linear-gradient(135deg, #283048 0%, #859398 100%);
$gradient-linear-15: linear-gradient(135deg, #205072 0%, #2C828D 65.48%, #329C9C 100%);
$gradient-linear-16: linear-gradient(135deg, #1CD8D2 0%, #93EDC7 100%);
$gradient-linear-17: linear-gradient(135deg, #02AAB0 0%, #00CDAC 100%);
$gradient-linear-18: linear-gradient(135deg, #4CA1AF 0%, #C4E0E5 100%);
$gradient-linear-19: linear-gradient(135deg, #F1F2B5 0%, #135058 100%, #135058 100%);
$gradient-linear-20: linear-gradient(135deg, #3D7EAA 0%, #FFE47A 100%);

$blur-small: blur(4px);
$blur-medium: blur(8px);
$blur-large: blur(12px);
$blur-xlarge: blur(20px);
$blur-xxlarge: blur(40px);

$drop-shadow-xsmall: 0 1px 2px 0 rgba(16, 24, 40, .04);
$drop-shadow-small: 0 2px 6px 0 rgba(16, 24, 40, .06);
$drop-shadow-medium: 0 6px 15px -2px rgba(16, 24, 40, .08);
$drop-shadow-large: 0 8px 24px -3px rgba(16, 24, 40, .10);
$drop-shadow-xlarge: 0 20px 40px -8px rgba(16, 24, 40, .10);
$drop-shadow-xxlarge: 0 25px 60px -15px rgba(16, 24, 40, .20);

$focus-ring-1px-primary-500: 0px 0px 0px 1px #6366F1;
$focus-ring-2px-primary-100: 0 0 0 2px rgba(224, 231, 255, .8);
$focus-ring-2px-neutral-100: 0px 0px 0px 2px #E5E5E5;
$focus-ring-2px-success-100: 0px 0px 0px 2px #BBF7D0;
$focus-ring-2px-warning-100: 0px 0px 0px 2px #FDE68A;
$focus-ring-2px-destructive-100: 0px 0px 0px 2px #FEE2E2;
$focus-ring-4px-primary-100: 0px 0px 0px 4px rgba(225, 225, 254, 0.70);
$focus-ring-4px-neutral-100: 0px 0px 0px 4px #E5E5E5;
$focus-ring-4px-success-100: 0px 0px 0px 4px #DCFCE7;
$focus-ring-4px-warning-100: 0px 0px 0px 4px #FEF3C7;
$focus-ring-4px-destructive-100: 0px 0px 0px 4px #FEE2E2;

// https://easings.net
// duration for all is .6s
$ease-in-sine: cubic-bezier(0.12, 0, 0.39, 0);
$ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1);
$ease-in-out-sine: cubic-bezier(0.37, 0, 0.63, 1);

$ease-in-quad: cubic-bezier(0.11, 0, 0.5, 0);
$ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);
$ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);

$ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
$ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
$ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);

$ease-in-quart: cubic-bezier(0.5, 0, 0.75, 0);
$ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
$ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);

$ease-in-quint: cubic-bezier(0.64, 0, 0.78, 0);
$ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
$ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);

$ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
$ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
$ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);

$ease-in-circ: cubic-bezier(0.55, 0, 1, 0.45);
$ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1);
$ease-in-out-circ: cubic-bezier(0.85, 0, 0.15, 1);

$ease-in-back: cubic-bezier(0.36, 0, 0.66, -0.56);
$ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
$ease-in-out-back: cubic-bezier(0.68, -0.6, 0.32, 1.6);

@keyframes scale-ease-in-elastic {
  0% {transform: scale(1)}
  4% {transform: scale(1)}
  8% {transform: scale(1)}
  14% {transform: scale(1)}
  18% {transform: scale(1)}
  26% {transform: scale(1.01)}
  28% {transform: scale(1.01)}
  40% {transform: scale(0.98)}
  42% {transform: scale(0.98)}
  56% {transform: scale(1.05)}
  58% {transform: scale(1.04)}
  72% {transform: scale(0.87)}
  86% {transform: scale(1.37)}
  100% {transform: scale(0)}
}

@keyframes opacity-ease-in-elastic {
  0% {opacity: 1}
  4% {opacity: 1}
  8% {opacity: 1}
  14% {opacity: 1}
  18% {opacity: 1}
  26% {opacity: 1.01}
  28% {opacity: 1.01}
  40% {opacity: 0.98}
  42% {opacity: 0.98}
  56% {opacity: 1.05}
  58% {opacity: 1.04}
  72% {opacity: 0.87}
  86% {opacity: 1.37}
  100% {opacity: 0}
}

@keyframes scale-ease-out-elastic {
  0% {transform: scale(1)}
  16% {transform: scale(-0.32)}
  28% {transform: scale(0.13)}
  44% {transform: scale(-0.05)}
  59% {transform: scale(0.02)}
  73% {transform: scale(-0.01)}
  88% {transform: scale(0)}
  100% {transform: scale(0)}
}

@keyframes opacity-ease-out-elastic {
  0% {opacity: 1}
  16% {opacity: -0.32}
  28% {opacity: 0.13}
  44% {opacity: -0.05}
  59% {opacity: 0.02}
  73% {opacity: -0.01}
  88% {opacity: 0}
  100% {opacity: 0}
}

@keyframes scale-ease-in-out-elastic {
  0% {transform: scale(1)}
  4% {transform: scale(1)}
  8% {transform: scale(1)}
  18% {transform: scale(1.01)}
  20% {transform: scale(1)}
  28% {transform: scale(0.98)}
  30% {transform: scale(0.98)}
  38% {transform: scale(1.09)}
  40% {transform: scale(1.12)}
  60% {transform: scale(-0.12)}
  62% {transform: scale(-0.09)}
  70% {transform: scale(0.02)}
  72% {transform: scale(0.02)}
  80% {transform: scale(0)}
  82% {transform: scale(-0.01)}
  90% {transform: scale(0)}
  92% {transform: scale(0)}
  100% {transform: scale(0)}
}

@keyframes opacity-ease-in-out-elastic {
  0% {opacity: 1}
  4% {opacity: 1}
  8% {opacity: 1}
  18% {opacity: 1.01}
  20% {opacity: 1}
  28% {opacity: 0.98}
  30% {opacity: 0.98}
  38% {opacity: 1.09}
  40% {opacity: 1.12}
  60% {opacity: -0.12}
  62% {opacity: -0.09}
  70% {opacity: 0.02}
  72% {opacity: 0.02}
  80% {opacity: 0}
  82% {opacity: -0.01}
  90% {opacity: 0}
  92% {opacity: 0}
  100% {opacity: 0}
}

@keyframes scale-ease-in-bounce {
  0% {transform: scale(1)}
  4% {transform: scale(0.98)}
  8% {transform: scale(0.99)}
  18% {transform: scale(0.94)}
  26% {transform: scale(0.98)}
  46% {transform: scale(0.75)}
  64% {transform: scale(0.98)}
  76% {transform: scale(0.44)}
  88% {transform: scale(0.11)}
  100% {transform: scale(0)}
}

@keyframes position-x-ease-in-bounce {
  0% {transform: translateX(0%)}
  4% {transform: translateX(-1.54%)}
  8% {transform: translateX(-0.66%)}
  18% {transform: translateX(-6.25%)}
  26% {transform: translateX(-1.63%)}
  46% {transform: translateX(-24.98%)}
  64% {transform: translateX(-1.99%)}
  76% {transform: translateX(-56.44%)}
  88% {transform: translateX(-89.11%)}
  100% {transform: translateX(-100%)}
}

@keyframes position-y-ease-in-bounce {
  0% {transform: translateY(0%)}
  4% {transform: translateY(-1.54%)}
  8% {transform: translateY(-0.66%)}
  18% {transform: translateY(-6.25%)}
  26% {transform: translateY(-1.63%)}
  46% {transform: translateY(-24.98%)}
  64% {transform: translateY(-1.99%)}
  76% {transform: translateY(-56.44%)}
  88% {transform: translateY(-89.11%)}
  100% {transform: translateY(-100%)}
}

@keyframes opacity-ease-in-bounce {
  0% {opacity: 1}
  4% {opacity: 0.98}
  8% {opacity: 0.99}
  18% {opacity: 0.94}
  26% {opacity: 0.98}
  46% {opacity: 0.75}
  64% {opacity: 0.98}
  76% {opacity: 0.44}
  88% {opacity: 0.11}
  100% {opacity: 0}
}

@keyframes scale-ease-out-bounce {
  0% {transform: scale(1)}
  12% {transform: scale(0.89)}
  24% {transform: scale(0.56)}
  36% {transform: scale(0.02)}
  54% {transform: scale(0.25)}
  74% {transform: scale(0.02)}
  82% {transform: scale(0.06)}
  92% {transform: scale(0.01)}
  96% {transform: scale(0.02)}
  100% {transform: scale(0)}
}

@keyframes position-x-ease-out-bounce {
  0% {transform: translateX(0%)}
  12% {transform: translateX(-10.89%)}
  24% {transform: translateX(-43.56%)}
  36% {transform: translateX(-98.01%)}
  54% {transform: translateX(-75.02%)}
  74% {transform: translateX(-98.37%)}
  82% {transform: translateX(-93.75%)}
  92% {transform: translateX(-99.34%)}
  96% {transform: translateX(-98.46%)}
  100% {transform: translateX(-100%)}
}

@keyframes position-y-ease-out-bounce {
  0% {transform: translateY(0%)}
  12% {transform: translateY(-10.89%)}
  24% {transform: translateY(-43.56%)}
  36% {transform: translateY(-98.01%)}
  54% {transform: translateY(-75.02%)}
  74% {transform: translateY(-98.37%)}
  82% {transform: translateY(-93.75%)}
  92% {transform: translateY(-99.34%)}
  96% {transform: translateY(-98.46%)}
  100% {transform: translateY(-100%)}
}

@keyframes opacity-ease-out-bounce {
  0% {opacity: 1}
  12% {opacity: 0.89}
  24% {opacity: 0.56}
  36% {opacity: 0.02}
  54% {opacity: 0.25}
  74% {opacity: 0.02}
  82% {opacity: 0.06}
  92% {opacity: 0.01}
  96% {opacity: 0.02}
  100% {opacity: 0}
}

@keyframes scale-ease-in-out-bounce {
  0% {transform: scale(1)}
  2% {transform: scale(0.99)}
  4% {transform: scale(1)}
  10% {transform: scale(0.97)}
  14% {transform: scale(0.99)}
  22% {transform: scale(0.88)}
  32% {transform: scale(0.99)}
  42% {transform: scale(0.6)}
  50% {transform: scale(0.5)}
  58% {transform: scale(0.4)}
  68% {transform: scale(0.01)}
  78% {transform: scale(0.12)}
  86% {transform: scale(0.01)}
  90% {transform: scale(0.03)}
  96% {transform: scale(0)}
  98% {transform: scale(0.01)}
  100% {transform: scale(0)}
}

@keyframes position-x-ease-in-out-bounce {
  0% {transform: translateX(0%)}
  2% {transform: translateX(-0.77%)}
  4% {transform: translateX(-0.33%)}
  10% {transform: translateX(-3%)}
  14% {transform: translateX(-0.98%)}
  22% {transform: translateX(-12.42%)}
  32% {transform: translateX(-1%)}
  42% {transform: translateX(-40.32%)}
  50% {transform: translateX(-50%)}
  58% {transform: translateX(-59.68%)}
  68% {transform: translateX(-99.01%)}
  78% {transform: translateX(-87.58%)}
  86% {transform: translateX(-99.02%)}
  90% {transform: translateX(-97%)}
  96% {transform: translateX(-99.67%)}
  98% {transform: translateX(-99.23%)}
  100% {transform: translateX(-100%)}
}

@keyframes position-y-ease-in-out-bounce {
  0% {transform: translateY(0%)}
  2% {transform: translateY(-0.77%)}
  4% {transform: translateY(-0.33%)}
  10% {transform: translateY(-3%)}
  14% {transform: translateY(-0.98%)}
  22% {transform: translateY(-12.42%)}
  32% {transform: translateY(-1%)}
  42% {transform: translateY(-40.32%)}
  50% {transform: translateY(-50%)}
  58% {transform: translateY(-59.68%)}
  68% {transform: translateY(-99.01%)}
  78% {transform: translateY(-87.58%)}
  86% {transform: translateY(-99.02%)}
  90% {transform: translateY(-97%)}
  96% {transform: translateY(-99.67%)}
  98% {transform: translateY(-99.23%)}
  100% {transform: translateY(-100%)}
}

@keyframes opacity-ease-in-out-bounce {
  0% {opacity: 1}
  2% {opacity: 0.99}
  4% {opacity: 1}
  10% {opacity: 0.97}
  14% {opacity: 0.99}
  22% {opacity: 0.88}
  32% {opacity: 0.99}
  42% {opacity: 0.6}
  50% {opacity: 0.5}
  58% {opacity: 0.4}
  68% {opacity: 0.01}
  78% {opacity: 0.12}
  86% {opacity: 0.01}
  90% {opacity: 0.03}
  96% {opacity: 0}
  98% {opacity: 0.01}
  100% {opacity: 0}
}
