.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-color: var(--neutral-50);

  animation: fade .3s;
  transition: background-color .4s;
}

@keyframes fade {
  from { opacity: 0 }
  to { opacity: 1 }
}

.code {
  font: 800 240px/290px 'Inter', sans-serif; color: var(--neutral-900);
  text-align: center;
  letter-spacing: -0.02em;

  transition: color .4s, font-size .4s, line-height .4s;

  @media (width <= 500px) {
    font-size: 156px;
    line-height: 176px;
  }
}

.content {
  font: 600 18px/20px 'Inter', sans-serif; color: var(--neutral-400);
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;

  transition: color .4s, font-size .4s, line-height .4s;

  @media (width <= 400px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.backButton {
  margin: 68px 0 0 0;
  padding: 12px 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  font: 500 14px/20px 'Inter', sans-serif; color: var(--neutral-900);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  background-color: #FFF;
  border: 1px solid var(--neutral-200);

  transition: background-color .4s, border .4s, color .4s;

  &:is(:hover) {
    background-color: var(--neutral-100);
  }
}
