@import "@/styles/variables";
@import "@/styles/mixins";

.main {
  position: relative;
  inset: 0 0 auto 0;
}

.container {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.component {
  z-index: 898;

  padding: 14px 2.5rem 14px;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid $neutral-200;

  transition: padding .2s;

  @media (width <=850px) {
    padding: 15px 1rem 14px;
  }
}

.content {
  margin: 0 auto;

  width: 100%;
  max-width: 80rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  .homeLink {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navigation {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: right;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  .links {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (width <=530px) {
      display: none;
    }

    .link {
      all: unset;
      padding: 12px;
      max-width: 68px;
      max-height: 44px;
      width: 100%;
      height: 100%;
      position: relative;

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      cursor: pointer;

      svg {
        transition: transform .3s;
      }

      p {
        @include font(500, 12px, 20px, center, unset);
        position: absolute;
        bottom: 2px;
        opacity: 0;
        transform: scale(.5);
        transform-origin: bottom center;
        transition: transform .3s $ease-in-out-sine, opacity .3s;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: $neutral-200;
        transition: background-color .3s;
      }
    }

    .linkActive {
      @extend .link;

      svg {
        transform: translateY(-9px);

        path {
          fill: $branding;
        }
      }

      p {
        color: $branding;
        opacity: 1;
        transform: scale(1);
      }

      &::before {
        background: $branding;
      }
    }
  }
}

.linksRight {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 24px;

  .linksGroup {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (width <=530px) {
      display: none;
    }

    div:nth-child(1) a {
      border-radius: 8px 0 0 8px;
      border-right: none;
    }

    div:nth-child(2) a {
      border-radius: 0 8px 8px 0;
    }

    .linkGroup {
      padding: 6px 12px;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px solid $neutral-200;

      transition: background-color .2s, border .2s;

      svg path {
        transition: fill .2s;
      }
    }

    .linkGroupActive {
      @extend .linkGroup;

      background: $branding-8;
      border-color: $branding-18;

      svg path {
        fill: $branding;
      }
    }
  }
}

.githubButton {
  all: unset;
  padding: 6px 12px;

  width: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 8px;

  border-radius: 10px;
  cursor: pointer;

  @include font(500, 14px, 20px, left, unset);

  color: $neutral-900;
  border: 1px solid $neutral-200;
  background-color: $white;
  box-shadow: $drop-shadow-xsmall;

  transition: color .2s, background-color .2s, border .2s, box-shadow .2s;

  .buttonIcon {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &:is(:hover) {
    color: $neutral-600;
    background-color: $neutral-100;
  }

  &:is(:active) {
    border-color: $neutral-200;
    background-color: $neutral-100;
  }

  &:is(:focus) {
    border-color: $neutral-200;
    background-color: $neutral-100;
  }

  &:is(:disabled) {
    pointer-events: none;
    touch-action: none;
    color: $neutral-300;
    border-color: $neutral-100;
    background-color: $neutral-50;
  }
}